<!doctype html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aximo - Creative Agency Tailwind Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" />

    <!-- Site font -->
    <link rel="stylesheet" href="/assets/fonts/webfonts/inter/stylesheet.css" />
    <link rel="stylesheet" href="/assets/fonts/webfonts/clash-grotesk/style.css" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/assets/css/vendors/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/assets/css/vendors/jos.css" />
    <link rel="stylesheet" href="/assets/css/vendors/menu.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <!-- Development css -->
    <link rel="stylesheet" href="/assets/css/style.css" />

    <!-- Production css -->
    <!-- <link rel="stylesheet" href="//assets/css/style.min.css" /> -->
</head>

<body class="bg-[#F6F5EF]">
    <div class="page-wrapper">
        <!-- ...::: Header Section Start :::... -->
        <header class="section-header site-header is-white fixed top-0 z-30 w-full py-2">
            <!-- Section Container -->
            <div class="container">
                <!-- Header Area -->
                <div class="flex items-center justify-between">
                    <!-- Header Logo -->
                    <a href="index.html" class="h-auto w-auto">
                        <img src="/assets/img/logo-black.png" alt="logo-black" width="121" height="24" />
                    </a>
                    <!-- Header Logo -->

                    <!-- Header Navigation -->
                    <div class="menu-block-wrapper">
                        <div class="menu-overlay"></div>
                        <nav class="menu-block" id="append-menu-header">
                            <div class="mobile-menu-head">
                                <div class="go-back">
                                    <img src="/assets/img/icons/icon-caret-down.svg" alt="icon-caret-down" width="7" height="4" />
                                </div>
                                <div class="current-menu-title"></div>
                                <div class="mobile-menu-close">&times;</div>
                            </div>
                            <ul class="site-menu-main">
                                <li class="nav-link-item drop-trigger text-colorDark rounded-none border border-transparent">
                                    <a href="home.html" class="nav-link-item">Home</a>
                                </li>

                                <li class="nav-link-item drop-trigger text-colorDark rounded-none border border-transparent">
                                    <a href="demo.html" class="nav-link-item">Demo</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Navigation -->

                    <!-- Header Right Block -->
                    <div class="flex items-center gap-x-6">
                        <a href="contact.html" class="btn-outline-black-2 hidden sm:inline-flex">Hire Us</a>

                        <!-- Responsive Offcanvas Menu Button -->
                        <div class="block lg:hidden">
                            <button id="openBtn" class="hamburger-menu mobile-menu-trigger">
                                <span class="bg-colorGondola before:bg-colorGondola after:bg-colorGondola"></span>
                            </button>
                        </div>
                    </div>
                    <!-- Header Right Block -->
                </div>
                <!-- Header Area -->
            </div>
            <!-- Section Container -->
        </header>
        <!-- ...::: Header Section End :::... -->

        <!-- Main Wrapper Start -->
        <main class="main-wrapper">

            <!-- ...::: Video Section Start :::... -->
            <div class="section-video">
                <div class="mx-5 xxl:mx-[50px] my-20">
                    <div class="jos relative z-10 flex items-center justify-center">
                        <img src="/assets/img/images/th-2/video-img.jpg" alt="video" width="1820" height="700" class="h-auto min-h-80 w-full object-cover" />

                        <!-- Video Button -->
                        <a data-fslightbox="gallery" href="https://www.youtube.com/watch?v=3nQNiWdeH2Q" aria-label="video-play" class="animate-transition text-colorDark absolute mx-auto inline-flex h-28 w-28 items-center justify-center overflow-hidden rounded-[50%] bg-colorGondola hover:scale-110 hover:bg-black md:h-32 md:w-32">
                            <div class="absolute">
                                <img src="/assets/img/icons/icon-orange-play.svg" alt="icon-orange-play" width="33" height="41" />
                            </div>
                        </a>
                        <!-- Video Button -->
                    </div>
                </div>
            </div>
            <!-- ...::: Video Section End :::... -->
        </main>
        <!--  Main Wrapper End -->

        <!-- ...::: Footer Section Start :::... -->
        <footer class="section-footer">
            <div class="relative z-10">
                <!-- Footer Top -->
                <div class="section-space">
                    <!-- Section Container -->
                    <div class="container">
                        <!-- Footer Top Area -->
                        <div class="flex flex-wrap justify-between gap-y-10">
                            <!-- Footer Widget - About -->
                            <div class="max-w-full lg:max-w-[410px]">
                                <a href="index.html" class="h-auto max-w-full">
                                    <img src="/assets/img/logo-black.png" alt="logo-black" width="121" height="24" />
                                </a>
                                <p class="mt-[30px] text-lg leading-[1.43] text-colorGondola lg:text-[21px]">
                                    We are a branding agency that digitally works to help
                                    companies grow. We have a successful track record of working
                                    with various organizations.
                                </p>
                            </div>
                            <!-- Footer Widget - About -->

                            <!-- Footer Widget - Nav -->
                            <div>
                                <!-- Footer Widget Title -->
                                <span class="mb-[30px] block text-lg font-semibold leading-[1.43] lg:text-[21px]">Special Links</span>
                                <!-- Footer Widget Title -->

                                <div class="flex flex-col gap-y-4 text-lg leading-[1.43] text-[#2c2c2c] lg:text-[21px]">
                                    <a href="about.html" class="hover:text-colorRedOrange">About us</a>
                                    <a href="service.html" class="hover:text-colorRedOrange">Our services</a>
                                    <a href="portfolio-1.html" class="hover:text-colorRedOrange">Portfolio</a>
                                    <a href="blog-1.html" class="hover:text-colorRedOrange">Blogs</a>
                                    <a href="team.html" class="hover:text-colorRedOrange">Premium member</a>
                                </div>
                            </div>
                            <!-- Footer Widget - Nav -->

                            <!-- Footer Widget - Nav -->
                            <div>
                                <!-- Footer Widget Title -->
                                <span class="mb-[30px] block text-lg font-semibold leading-[1.43] lg:text-[21px]">Utility pages</span>
                                <!-- Footer Widget Title -->

                                <div class="flex flex-col gap-y-4 text-lg leading-[1.43] text-[#2c2c2c] lg:text-[21px]">
                                    <a href="404-error.html" class="hover:text-colorRedOrange">404 Page</a>
                                    <a href="coming-soon.html" class="hover:text-colorRedOrange">Coming Soon</a>
                                    <a href="log-in.html" class="hover:text-colorRedOrange">Sign In</a>
                                    <a href="sign-up.html" class="hover:text-colorRedOrange">Sign Up</a>
                                    <a href="reset-password.html" class="hover:text-colorRedOrange">Reset Password</a>
                                </div>
                            </div>
                            <!-- Footer Widget - Nav -->

                            <!-- Footer Widget - Newsletter -->
                            <div class="max-w-[307px]">
                                <!-- Footer Widget Title -->
                                <span class="mb-[30px] block text-lg font-semibold leading-[1.43] lg:text-[21px]">Subscribe to our newsletter</span>
                                <!-- Footer Widget Title -->

                                <!-- Newsletter Form -->
                                <form action="#" method="post" class="">
                                    <input type="email" name="newsletter-email" id="newsletter-email" placeholder="Email Address" class="mb-3 w-full rounded-[3px] border-2 border-[#999999] bg-colorIvory px-6 py-3 text-base font-bold text-colorGondola placeholder:text-colorGondola focus:border-colorRedOrange" required/>
                                    <button type="submit" class="btn-orange py-3">
                                        Subscribe
                                    </button>
                                </form>
                                <!-- Newsletter Form -->
                            </div>
                            <!-- Footer Widget - Newsletter -->
                        </div>
                        <!-- Footer Top Area -->
                    </div>
                    <!-- Section Container -->
                </div>
                <!-- Footer Top -->

                <!-- Horizontal Line -->
                <div class="horizontal-line bg-[#E6E6E6]"></div>
                <!-- Horizontal Line -->

                <!-- Footer Bottom -->
                <div class="py-[35px]">
                    <!-- Section Container -->
                    <div class="container">
                        <div class="flex flex-col-reverse flex-wrap justify-center gap-x-[30px] gap-y-4 lg:flex-row lg:justify-between">
                            <!-- Copyright Text -->
                            <div class="text-center text-colorGondola lg:text-start">
                                &copy; Copyright 2024, All Rights Reserved by Mthemeus
                            </div>
                            <!-- Copyright Text -->

                            <!-- Social Link Item -->
                            <div class="flex justify-center gap-3 lg:justify-normal">
                                <!-- Social Link Item -->
                                <a href="http://www.twitter.com" target="_blank" rel="noopener noreferrer" class="group flex h-[50px] w-[50px] items-center justify-center rounded-[50%] bg-[#F6F5EF]">
                                    <img src="/assets/img/icons/icon-logo-black-twitter.svg" alt="icon-black-twitter" width="19" height="16" class="opacity-100 transition-all duration-300 group-hover:opacity-0" />
                                    <img src="/assets/img/icons/icon-orange-twitter.svg" alt="icon-orange-twitter" width="19" height="16" class="absolute opacity-0 transition-all duration-300 group-hover:opacity-100" />
                                </a>
                                <!-- Social Link Item -->
                                <!-- Social Link Item -->
                                <a href="http://www.facebook.com" target="_blank" rel="noopener noreferrer" class="group flex h-[50px] w-[50px] items-center justify-center rounded-[50%] bg-[#F6F5EF]">
                                    <img src="/assets/img/icons/icon-black-facebook.svg" alt="icon-black-facebook" width="13" height="24" class="opacity-100 transition-all duration-300 group-hover:opacity-0" />
                                    <img src="/assets/img/icons/icon-orange-facebook.svg" alt="icon-orange-facebook" width="13" height="24" class="absolute opacity-0 transition-all duration-300 group-hover:opacity-100" />
                                </a>
                                <!-- Social Link Item -->
                                <!-- Social Link Item -->
                                <a href="http://www.instagram.com" target="_blank" rel="noopener noreferrer" class="group flex h-[50px] w-[50px] items-center justify-center rounded-[50%] bg-[#F6F5EF]">
                                    <img src="/assets/img/icons/icon-black-instagram.svg" alt="icon-black-instagram" width="26" height="26" class="opacity-100 transition-all duration-300 group-hover:opacity-0" />
                                    <img src="/assets/img/icons/icon-orange-instagram.svg" alt="icon-orange-instagram" width="26" height="26" class="absolute opacity-0 transition-all duration-300 group-hover:opacity-100" />
                                </a>
                                <!-- Social Link Item -->
                                <!-- Social Link Item -->
                                <a href="http://www.linkedin.com" target="_blank" rel="noopener noreferrer" class="group flex h-[50px] w-[50px] items-center justify-center rounded-[50%] bg-[#F6F5EF]">
                                    <img src="/assets/img/icons/icon-black-linkedin.svg" alt="icon-black-linkedin" width="26" height="24" class="opacity-100 transition-all duration-300 group-hover:opacity-0" />
                                    <img src="/assets/img/icons/icon-orange-linkedin.svg" alt="icon-orange-linkedin" width="26" height="24" class="absolute opacity-0 transition-all duration-300 group-hover:opacity-100" />
                                </a>
                                <!-- Social Link Item -->
                            </div>
                            <!-- Social Link Item -->
                        </div>
                    </div>
                    <!-- Section Container -->
                </div>
                <!-- Footer Bottom -->

                <!-- Background Shadow Image -->
                <div class="absolute bottom-0 -z-10">
                    <img src="/assets/img/images/th-2/footer-bg-aximo.svg" alt="footer-bg-aximo" width="1920" height="490" />
                </div>
                <!-- Background Shadow Image -->
            </div>
        </footer>
        <!-- ...::: Footer Section End :::... -->
    </div>

    <!--Vendor js-->
    <script src="/assets/js/vendors/counterup.js" type="module"></script>
    <script src="/assets/js/vendors/swiper-bundle.min.js"></script>
    <script src="/assets/js/vendors/fslightbox.js"></script>
    <script src="/assets/js/vendors/jos.min.js"></script>
    <script src="/assets/js/vendors/menu.js"></script>

    <!-- Main js -->
    <script src="/assets/js/main.js"></script>
</body>

</html>
