<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SUSI - Siap Ujian bersama Vokasi</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <h1>Deteksi Rambut Panjang/Pendek</h1>
    <img
      src="{{ url_for('video_feed') }}"
      width="600"
      height="450"
      alt="Video Stream"
    />

    <script>
      // Tambahkan JavaScript untuk interaksi lebih lanjut jika diperlukan
    </script>
  </body>
</html>
